* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cface {
    width: 500px;
    height: 500px;
    border: 5px solid black;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    background: white;
}

/* Center Point */
.point {
    width: 20px;
    height: 20px;
    background-color: rgba(245, 28, 28, 0.822);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hour Numbers */
.hour {
    font-size: 30px;
    font-weight: bold;
    color: rgba(245, 28, 28, 0.822);
    position: absolute;
    transform: translate(-50%, -50%);
}

.hour-1 { top: 80px; right: 110px; }
.hour-2 { top: 160px; right: 40px; }
.hour-3 { top: 250px; right: 15px; }
.hour-4 { top: 340px; right: 40px; }
.hour-5 { top: 420px; right: 110px; }
.hour-6 { top: 470px; left: 50%; transform: translateX(-50%); }
.hour-7 { top: 420px; left: 110px; }
.hour-8 { top: 340px; left: 40px; }
.hour-9 { top: 250px; left: 15px; }
.hour-10 { top: 160px; left: 40px; }
.hour-11 { top: 80px; left: 110px; }
.hour-12 { top: 20px; left: 50%; transform: translateX(-50%); }

/* Minute Hand Wrapper */
.minute-hand-wrapper {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

/* Minute Hand */
.minute-hand {
    position: relative;
    width: 100%;
    height: 100%;
}

.minute-hand .hand {
    width: 4px;
    height: 200px;
    background-color: chartreuse;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: bottom;
}

.minute-hand .arrow {
    font-size: 30px;
    font-weight: bold;
    color: rgb(221, 15, 15);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

/* Hour Hand Wrapper */
.hour-hand-wrapper {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

/* Hour Hand */
.hour-hand {
    position: relative;
    width: 100%;
    height: 100%;
}

.hour-hand .hand {
    
    width: 4px;
    height: 140px;
    background-color: rgb(213, 19, 19);
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: bottom;
}

.hour-hand .arrow {
    font-size: 30px;
    font-weight: bold;
    color: rgb(221, 15, 15);
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}
