*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box ;
}

.cface{
    width: 500px;
    height: 500px;
    border: 5px solid black;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    background-color: rgb(221, 206, 123);
    top: 40px;
    
    
    
}

.point{
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 50%;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hour{
    font-size: 35px;
    font-weight: bold;
    color: rgba(5, 1, 1, 0.822);
    position: absolute;


}

.hour-1{ 
 top: 40px;
 right: 130px;
}

.hour-2{
    top: 125px;
    right: 45px;
}
.hour-3{
    top: 235px;
    right: 10px;


}

.hour-4{
    top: 345px;
    right: 45px;

    
}
.hour-5{
    top: 430px;
    right: 130px;
    
}
.hour-6{
    bottom:  8px ;
    left: 240px ;

    
}
.hour-7{
    top:430px ;
    left: 130px;
    
}
.hour-8{
    top: 345px;
    left: 45px;
    
}
.hour-9{
    top: 235px;
    left: 10px;

    
}
.hour-10{
    top:125px ;
    left: 45px;
    
}

.hour-11{
    top:40px ; 
    left: 130px ;
    
}


.hour-12{
    top: 10px;
    left: 235px;
    
}   

.minute-hand-wrapper{
    width: 400px;
    height: 400px; 
    position: absolute;
    top: 50px ;
    left: 50px ;
    border-radius: 50%;
 

}

.minute-hand{
    position: relative;
    left: 50%;
transform: translateX(-50%);
transform-origin: bottom;
}

.minute-hand .hand{
    width: 4px;
    height: 200px;
    background-color: rgb(85, 114, 57);
    position: absolute;
    left: 198px;



}

.minute-hand-wrapper .minute-hand .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgb(85, 144, 57);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  



.hour-hand-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* width: 400px;
    height: 300px;  */
    /* position: absolute; */
    /* top: 50px ;
    left: 50px ; */
    /* border-radius: 50%; */
 

}

.hour-hand{
    position: relative;
    width: 100%;
    height: 100%;
}

.hour-hand .hand{
    width: 6px;
    height: 150px;
    background-color: rgb(25, 2, 2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transform-origin: bottom;



}








.sec-hand-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sec-hand {
    position: relative;
    width: 100%;
    height: 100%;
}

.sec-hand .hand {
    width: 3px;
    height: 230px;
    background-color: rgb(238, 26, 40);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transform-origin: bottom;
}

.brand{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 100px;
    left: 175px;

}




